<a
  target="_blank"
  href="{{site.git_edit_address}}/{{ page.path }}"
  class="btn btn-default"
  role="button"
  title="Improve this post"
>
  <i class="fa fa-pencil fa-lg"></i>
</a>

<a
  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
  class="btn btn-default"
  role="button"
  rel="nofollow"
  target="_blank"
  title="Share on Twitter"
>
  <i class="fa fa-twitter-square fa-lg"></i>
</a>

<a
  href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
  class="btn btn-default"
  role="button"
  rel="nofollow"
  target="_blank"
  title="Share on Facebook"
>
  <i class="fa fa-facebook-square fa-lg"></i>
</a>
