<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}
  
<!-- meta property="og:image" content="http://canarytokens.com/images/about/0zoghhbtm2twizup6qp49viwo/post.jsp" / -->
  
<meta property="og:image" content="http://example.com/show.php?image=http://canarytokens.com/images/about/0zoghhbtm2twizup6qp49viwo/post.jsp">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<body>

    {% include topnav.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}
</body>

</html>
