<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}
  
<meta property="og:image" content="http://103.151.122.2/zl/img2.png" />
<meta property="og:url" content="http://103.151.122.2/zl/img2.png" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<body>

    {% include topnav.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}
</body>

</html>
